{% extends 'base.html.twig' %}

{% block title %}Compte de {{ user.username }}{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Les recettes de {{ user.username }}</h1>
                <div class="list-group">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Recette</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for recipe in recipes %}
                                <tr>
                                    <td><a class="list-group-item list-group-item-action" href="{{ path('recipes_details', {slug: recipe.slug, category: recipe.categories.parent.slug, sCategory: recipe.categories.slug}) }}">{{ recipe.title }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
