<div style="text-align: center;">
    {% set imagePath = absolute_url(asset('assets/img/core-img/logo.png')) %}
    <img src="{{ imagePath }}" alt="Logo" width="305" style="display: block; margin: 0 auto;" />
</div>
<p>Bonjour {{ user.username }},</p>
<p>Pour votre demande de réinitialisation du mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ url|raw }}">Réinitialiser mon mot de passe</a></p>
<p>Merci.</p>