<div style="text-align: center;">
    <a href="{{ 'https://recettesenfolie.fr' ~ path('app_home') }}">
        <img src="{{ email.image('@images/core-img/logo.webp') }}" alt="Logo" width="305" style="display: block; margin: 0 auto;" />
    </a>
</div>
<h1>Activez votre compte</h1>
<p>Bonjour, {{ user.username }}</p>
<p>Votre inscription sur Recettes en folie est à valider en cliquant sur le lien ci-dessous :</p>
<a href="{{ 'https://recettesenfolie.fr' ~ path('verify_user', {token: token}) }}">Activer mon compte</a>
<p>Ce lien expirera dans 3 heures</p>