<div style="text-align: center;">
    {% set imagePath = absolute_url(asset('assets/img/core-img/logo.webp')) %}
    <img src="{{ imagePath }}" alt="Logo" width="305" style="display: block; margin: 0 auto;" />
</div>
<h1>Activez votre compte</h1>
<p>Bonjour, {{ user.username }}</p>
<p>Votre inscription sur Recettes en folie est à valider en cliquant sur le lien ci-dessous :</p>
<a href="{{ absolute_url(path('verify_user', {token: token})) }}">Activer mon compte</a>
<p>Ce lien expirera dans 3 heures</p>