{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <section class="container my-3">
        <div class="row">
            <div class="col">
                <h1>Page introuvable</h1>
                <p>La page que vous recherchez n'a pas été trouvée</p>
            </div>
        </div>
    </section>
{% endblock %}